<div class="row">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= I18n.t("bootsrap.alert.#{name}") %>">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= message %>
    </div>
  <% end %>
</div>
