<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Paciente</h3>
  </div>
  <div class="panel-body">
    <%= render :partial => "form" %>
  </div>
</div>%>