<h1>Clinica</h1>
<p></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Configuraciones Generales de la Clinica</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
